* {
  vertical-align: top;
}

body {
  margin: 0;
  font-family: 'Helvetica', Arial, Sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
  /*background: yellow;*/
}

header {
  width: 100%;
  height: 80px;
  background: blue;
  padding-top: 20px; 
}

header img {
  border-radius: 50%;
}

header nav, header li {
  display: inline-block;
}

nav ul {
  margin-top: 20px;
}

nav ul a {
  text-transform: uppercase;
  color: #fff;
}

.hero-banner {
  height: 400px;
  width: 100%;
  background: url('../images/doughnuts.jpg');
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(46, 9, 255, 0.7);
}

.hero-banner h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  margin-top: 150px;
}

.main {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main .why-knot {
  width: 55%;
  display: inline-block;
  padding-right: 40px;
}

.main .contact {
  display: inline-block;
  width: 38%;
}

.main .contact img {
  margin: 0 auto;
  width: 300px;
  display: block;
}

.main .caption h4 {
  text-align: center;
}

footer {
  height: 500px;
  background: yellow;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer .contact {
  width: 47%;
  display: inline-block;
}

footer .animation {
  width: 47%;
  display: inline-block;
  text-align: center;
}

.doughnut {
  height: 400px;
  width: 400px;
  background: url('../images/footer-doughnut.png');
  display: inline-block;
  position: relative;
}

.btn {
  width: 160px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  line-height: 48px;
  font-size: 22px;
  background: blue;
  color: #fff;
  margin-bottom: 20px;
}

.btn:hover {
  cursor: pointer;
  background: #4548AC;
}

.sprinkles {
  display: none;
  position: absolute;
  height: 400px;
  width: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/sprinkles.png');
}

.show {
  display: inline-block;
}









